html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5; /* Thay mã màu của bạn ở đây */
}

#root {
  height: 100%;
  width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: cyan;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width:100%;
    align-items: center;
}

.text{
    font-size: 48px;
    font-weight: 700;
    color: #3c009d;
}

.underline{
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    width: 480px;
    height: 80px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #eaeaea;
}
.username-input{
    margin-left: 30px;
}

.email-input{
    margin-left: 30px;
}

.password-input{
    margin-left: 30px;
}

.input img{
    margin: 0 30px;
}

.input input{
    width: 400px;
    height: 50px;
    background:transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size:19px;
}

.forgot-password{
    margin-top: 27px;
    color:#797979;
    margin: auto;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap:30px;
    margin: auto;
    margin-top: -10px;
}

.space{
    margin-top: 50px;
}

.submit{
    width: 220px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background-color: #eaeaea;
    color: #676767
}